<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Adri&aacute;n Mouly - Desarrollador Web</title>
		<meta name="verify-v1" content="B+TNlg3AMK8I7cwixVK2QrTi5Z0cDgIssczFC+mNS+k=" />
		<link rel="shortcut icon" type="image/x-icon" href="static/template/bitmaps/favicon.ico">
	</head>
	<body style="background-color: #ebebeb;">
		<div style="display: block; margin: auto; margin-top: 16%; width: 515px; padding: 50px; text-align: center; background-color: white; border: 1px #fff solid; -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px;">
			<img src="templates/bitmaps/logo.png" width="515" height="45" style="" />
			<span style="font: normal 13px Tahoma, Helvetica; color: #666; display: block; margin-top: 20px;">Linux Registered User <b>#521862</b></span>
			<span style="font: normal 13px Tahoma, Helvetica; color: #666; display: block;">Santa Rosa - La Pampa | Capital Federal</span>
			<span style="font: bold 13px Tahoma, Helvetica; color: #666; display: block;">adrian@mouly.com.ar</span>
		</div>
	</body>
</html>
